%li.bookmark
  .well
    %p
      = image_tag bookmark.favicon_url, size: '16x16'
      = link_to bookmark.title, bookmark.url, class: 'title'
    %p.domain-and-actions
      %span.domain= bookmark.domain
      = link_to bookmark_path(bookmark), title: "View the bookmark for #{bookmark.url}" do
        %i.icon-arrow-right
      = link_to edit_bookmark_path(bookmark), title: "Edit the bookmark for #{bookmark.url}" do
        %i.icon-edit
    .comments
      = markdown_to_html(bookmark.comments)
    .tags
      - bookmark.tags.each do |tag|
        %a{:class => 'label label-info', :href => tag_path(tag)}<
          = tag.name
          - if tag.description.present?
            %i.icon-comment.icon-white{title: "This tag has a description"}
