%h1 New bookmark

= form_for(@bookmark, html: {class: 'new_bookmark form-horizontal'}) do |bookmark_form|
  %fieldset
    %legend Details of the page to bookmark
    .control-group
      = bookmark_form.label :url, class: 'control-label'
      .controls
        = bookmark_form.text_field :url, class: 'input-xlarge'
    .control-group
      = bookmark_form.label :title, class: 'control-label'
      .controls
        = bookmark_form.text_field :title, class: 'input-xlarge'
    .control-group
      = bookmark_form.label :tag_names, 'Tags', class: 'control-label'
      .controls
        = bookmark_form.text_field :tag_names, class: 'input-xlarge'
        .help-block Tags are space separated
    .control-group
      = bookmark_form.label :comments, class: 'control-label'
      .controls
        = bookmark_form.text_area :comments, rows: 5, class: 'input-xlarge'
    .form-actions
      = bookmark_form.submit 'Create bookmark', class: 'btn-primary'