%h1 Edit #{@tag.name}

- content_for :page_title do
  Edit #{@tag.name}

= form_for(@tag, html: {class: 'edit_tag form-horizontal'}) do |tag_form|
  %fieldset
    %legend Details of the tag
    .control-group
      = tag_form.label :description, class: 'control-label'
      .controls
        = tag_form.text_area :description, rows: 5, class: 'input-xlarge'
        .help-block Markdown is supported
    .form-actions
      = tag_form.submit 'Update tag', class: 'btn-primary'