%h1 Bookmarks tagged with #{@tag.name}

- content_for :page_title do
  Bookmarks tagged with #{@tag.name}

- if @tag.description.present?
  .description.well= markdown_to_html(@tag.description)

= link_to "Edit tag", edit_tag_path(@tag), class: 'btn'

%ul#bookmarks
  - @bookmarks.each do |bookmark|
    = render partial: 'bookmarks/bookmark', object: bookmark