%h1 Bookmarks tagged with #{@tag.name}

= link_to "Edit", edit_tag_path(@tag)

.description= @tag.description

%ul#bookmarks
  - @bookmarks.each do |bookmark|
    %li.bookmark
      .url= bookmark.url
      .title= bookmark.title
      .tags= bookmark.tags.map(&:name).join(' ')