!!! 5
%html
  %head
    %title= "#{yield(:page_title).chomp} | Roosmarks"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield :atom_feed_link
    = csrf_meta_tags
    = yield :additional_page_header_content
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .row
            .span6.offset3
              = link_to 'Roosmarks', '/', class: 'brand'
              %ul.nav
                %li
                  = link_to 'New bookmark', new_bookmark_path
                %li
                  = link_to 'About', 'https://github.com/chrisroos/roosmarks/#readme'
                %li
                  %a#roosmarklet{:href => "javascript: var newBookmarkUrl = '#{new_bookmark_url}?url=' + encodeURIComponent(document.location.href) + '&title=' + encodeURIComponent(document.title); window.open(newBookmarkUrl, 'roosmarklet', 'resizable=yes,scrollbars=yes,status=yes,height=600,width=500')"} roosmark!
    .container
      .row
        .span6.offset3
          = yield
